.start-container {
  width: inherit;
  margin: 0 auto;
  font-family: 'Shalimar', 'Franklin Gothic Medium', 'Courier New', Courier, monospace;
  font-weight: bold;

  .start-title {
    margin-top: 15vh;
    font-size: 100px;
  }

  .start-title-made {
    width: 100%;
    text-align: end;
    margin-top: 15px;
    padding-right: 20px;
  }

  .btn-container {
    width: 100%;
    margin-top: 60px;
    .btn-box {
      margin-top: 25px;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      display: flex;
      .start-btn {
        // margin-top: 25vh;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 7vh;
        width: 50vw;
        max-width: 160px;
        max-height: 80px;
        border-radius: 0.4em;
        background-color: #c6c6c6;
        border: 2px solid rgb(95, 95, 95);
        color: black;
        font-size: 25px;
        cursor: pointer;
        box-shadow: 1px 1px 1px rgb(204, 204, 204);
      }
    }
  }
}
