.resultLotto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  max-height: 800px;
  max-width: 420px;
  margin: 0 auto;

  .home {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
  }
  .number-form {
    width: 80vw;
    max-width: 360px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px;
    .number-form-list {
      display: flex;
      flex-direction: column;
      align-items: center;

      .number-form__title {
        font-size: 15px;
      }
      .number-form__number {
        display: flex;
        align-items: center;
        justify-content: center;

        .number-form__check {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          cursor: pointer;
          background-color: rgba(142, 149, 152, 0.3);

          width: 55px;
          height: 26px;
          margin-top: 5px;
          &:nth-child(1) {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            border-right: solid darkgray 1px;
          }
          &:nth-child(3) {
            border-left: solid darkgray 1px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
          }
        }
        .check-click {
          background-color: rgb(9, 254, 107);
        }
      }
    }
  }

  .win-title {
    font-weight: bold;
    font-size: 45px;
    color: #5b6860;
    font-family: 'Shalimar', 'Franklin Gothic Medium', 'Courier New', Courier, monospace;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .win-section {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .win-list {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      .win-list__idx {
        display: flex;
        align-items: center;
        font-weight: bold;

        .win-list__idx__border {
          display: inline-block;
          margin: 0 7px;
          width: 0.1px;
          background-color: rgb(94, 94, 94);
          height: 30px;
          opacity: 0.2;
        }
      }

      .win-list__number-container {
        display: flex;

        .win-number {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 36px;
          height: 36px;
          border-radius: 0.4em;
          background-color: rgba(142, 149, 152, 0.3);
          font-weight: bold;
          font-size: 16px;
          margin: 0 5px;

          &:first-child {
            margin-right: 5px;
            margin-left: 0px;
          }

          &:last-child {
            margin-left: 5px;
            margin-right: 7px;
          }
        }
      }
    }
  }

  .submit-container {
    width: 80px;
    height: 30px;
    left: 50%;
    bottom: 8%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    background-color: #c6c6c6;
    font-family: 'Shalimar', 'Franklin Gothic Medium', 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
  }
}
