
.result-lotto__container{
    width: 90vw;
    
    .homeBtnWrap {
        position: absolute;
        top: 0; 
        left: 0;
        margin: 10px;
    }

    .house {
        font-size: 20px;
        cursor: pointer;
    }

    .win-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: inherit;

        .win-section__title {
            position: absolute;
            top: 50px;
            font-weight: bold;
            font-size: 3em;
            margin-bottom: 0.6em;
            color: #5b6860;
            font-family: "Shalimar", "Franklin Gothic Medium", "Courier New", Courier,
            monospace;
        }

        .win-section__content {
            width: inherit;

            .win-section__content__list {
                display: grid;
                grid-template-columns: 1fr 1fr 10fr 1fr;
                width: 100%;
                grid-template-rows: auto;
                align-items: center;
                margin-bottom: 10px;
        
                .win-number__idx__box {
                    display: flex;
                    justify-content: center;
                    font-size: 18px;
                    font-weight: bold;
                }

                .win-number__arrow__box {
                    display: flex;
                    align-items: center;
                }

                .win-number__box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .win-number {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 0.4em;
                        background-color: rgba(142, 149, 152, 0.3);
                        font-weight: bold;
                        font-size: 15px;
                    }
                }

                .win-number__refresh__box {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }
            }
        }
    }

.submit-input {
    padding: 0.4em 1.6em;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #c6c6c6;
    font-family: "Shalimar", "Franklin Gothic Medium", "Courier New", Courier,
    monospace;
    font-weight: bold;
    }
    .submit-container {
        position: absolute;
        bottom: 3%;
        width: 100%;
        left: 0;
    }
}